<header>
  <div class="container">
    <a href="#" routerLink="/" class="logo">FoodLK</a>
    <nav>
      <ul>
        <li *ngIf="!isAuth">
          <a href="#" routerLink="/login" routerLinkActive="active">login</a>
        </li>
        <li class="menu-container" *ngIf="isAuth">
          <a href="#" routerLink="/dashboard" routerLinkActive="active">{{user.name}}</a>
          <div class="menu">
            <a href="#" routerLink="/profile" routerLinkActive="active"
              >Profile</a
            >
            <a href="#" routerLink="/orders" routerLinkActive="active"
              >Orders</a
            >
            <a (click)="logout()">Logout</a>
          </div>
        </li>
        <li>
          <a href="#" routerLink="/cart-page" routerLinkActive="active">
            Cart <span *ngIf="cartQuantity">{{ cartQuantity }}</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
