<header>
  <div class="container">
    <a href="#" routerLink="/" class="logo">FoodLK</a>
    <nav>
      <ul>
        <li>
          <a href="#" routerLink="/" routerLinkActive="active">Home</a>
        </li>
        <li class="menu-container">
          <a href="#" routerLink="/dashboard" routerLinkActive="active">John</a>
          <div class="menu">
            <a href="#" routerLink="/profile" routerLinkActive="active"
              >Profile</a
            >
            <a href="#" routerLink="/orders" routerLinkActive="active"
              >Orders</a
            >
            <a>Logout</a>
          </div>
        </li>
        <li>
          <a href="#" routerLink="/cart-page" routerLinkActive="active">
            Cart <span *ngIf="cartQuantity">{{ cartQuantity }}</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
